:root {
  --font-main: Georgia, 'Times New Roman', Times, serif;
}
body {
  padding: 100px;
}

main {
  padding: 5px;
}

header {
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
}

.click-under {
  text-decoration: underline;
}

header .link li {
  display: inline-block;
  margin: 10px;
}

header .link li a {
  color: black;
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

header .link li a:hover {
  text-decoration-color: black;
}

header img {
  margin: 10px;
}

.profil {
  display: flex;
  justify-content: center;
  text-align: center;
}

.profil .profil-card .profil-image {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  box-shadow: 3px 3px 3px black;
}

.profil-card {
  background-color: var(--bg-card);
  padding: 30px;
  width: 500px;
  border-radius: 30px;
  border: 3px solid black;
  box-shadow: 3px 3px 3px black;
  font-family: var(--font-main)
}

.profil-card h2 {
  text-align: justify;
  font-weight: lighter;
}

.profil-card .social-media {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}


.profil-card .social-media img {
  width: 30px;
  margin: 10px;
}

.wrapper-book {
  width: 100%;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  text-align: center;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 500px) {
  header .link li {
    display: block;
  }

  .item {
    display: block;
  }

  .wrapper-book {
    display: flex;
    justify-content: center;
  }
}